h1 {
  font-size: 17px;
  font-family: cursive;
  color: rgba(3, 85, 139, 0.795);
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

h3 {
  font-family: cursive;
  color: black;
  font-weight: bold;
  font-size: 19px;
}

img{
  height:auto;
}