h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia;
  color: rgb(0, 0, 0);
}

ion-thumbnail {
  img {
    height: max-content;
  }
}

h2 {
  font-size: 17px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}
