h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: rgb(0, 0, 0);
}

ion-thumbnail {
  img {
    height: max-content;
  }
}

h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(250, 250, 250);
}

.teste {
  --background: red;
}
